body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar p {
    color: gray;
    text-align: right;
    font-size: 22px;
    display: inline-block;
    text-decoration: underline;
    align-items: flex-end;
}
img {
    size: 50px;
    margin-left: 10px;
}

.first img {
    width: 1200px;
    height: 700px;
    margin-top: 69px;
    display: block;
}